<div class="container" style="background-color:lightblue">
    <Div *ngIf="!this.hasPackagesData()">לא נמצאו חבילות</Div>


    <Div *ngIf="this.hasPackagesData()">
      <div class="row p-15 Header">
        <span class="col">ID</span>
        <span class="col">Name</span>
        <span class="col">Cost</span>     
        </div>        
        <div *ngFor="let pkg of this.data.packages">
            <div class="row p-15 dataItem">
              <span class="col">{{pkg.pkg_id}}</span>
              <span class="col">{{pkg.pkg_Name}}</span>
              <span class="col">{{pkg.pkg_type}}</span>                     
            </div>
          </div>
      </Div>
</div>
